$body-color: red;

body {
  color: $body-color;
}

img {
  width: 500px;
}

@font-face {
  font-family: "myfont";
  src: url("./Pushster-Regular.ttf") format("ttf");
  font-weight: 600;
}

p {
  font-family: "myfont";
}
